table a:link {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

table a:visited {
    color: #999999;
    font-weight: bold;
    text-decoration: none;
}

table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration: underline;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 12px;
    /*text-shadow: 1px 1px 0px #555;*/
    background: #eaebec;
    margin: 20px;
    border: #bdcbf5 1px solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}

    table th {
        padding: 21px 25px 22px 25px;
        border-top: 1px solid #bdcbf5;
        border-bottom: 1px solid #3377ff;
        background: #0073e6;
        background: -webkit-gradient(linear, left top, left bottom, from(#3377ff), to(#6699ff));
        background: -moz-linear-gradient(top, #3377ff, #6699ff);
    }

        table th:first-child {
            text-align: left;
            padding-left: 20px;
        }

    table tr:first-child th:first-child {
        -moz-border-radius-topleft: 3px;
        -webkit-border-top-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    table tr:first-child th:last-child {
        -moz-border-radius-topright: 3px;
        -webkit-border-top-right-radius: 3px;
        border-top-right-radius: 3px;
    }

    table tr {
        text-align: center;
        padding-left: 20px;
    }

    table td:first-child {
        text-align: left;
        padding-left: 20px;
        border-left: 0;
    }

    table td {
        padding: 18px;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;
        background: #fafafa;
        background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
        background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
    }

    table tr.even td {
        background: #f6f6f6;
        background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
        background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
    }

    table tr:last-child td {
        border-bottom: 0;
    }

        table tr:last-child td:first-child {
            -moz-border-radius-bottomleft: 3px;
            -webkit-border-bottom-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        table tr:last-child td:last-child {
            -moz-border-radius-bottomright: 3px;
            -webkit-border-bottom-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

    table tr:hover td {
        background: #f2f2f2;
        background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
        background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
    }



@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .container {
        height:initial;
    }

    .sidepanel {
        position:inherit !important;
    }
    .prjtitle {
        width:100% !important;
    }
    .graph-container {
    width:90% !important;
    text-align:center;
}
    table, thead, tbody, th, td, tr {
        display: block;
    }

        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            font-weight: bold;
            text-align: left;
        }

        /*
		Label the data
		*/
        td:nth-of-type(1):before {
            content: "";
        }

        td:nth-of-type(2):before {
            content: "Date";
        }

        td:nth-of-type(3):before {
            content: "ProjectName";
        }

        td:nth-of-type(4):before {
            content: "Scope";
        }

        td:nth-of-type(5):before {
            content: "AssignedTo";
        }

        td:nth-of-type(6):before {
            content: "ReviewedBy";
        }

        td:nth-of-type(7):before {
            content: "Severity";
        }

        td:nth-of-type(8):before {
            content: "Category";
        }

        td:nth-of-type(9):before {
            content: "Status";
        }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        padding: 0;
        margin: 0;
        width: 320px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        width: 495px;
    }
}

</style >
<!-- <![endif] -->
